@media (min-width: 250px) and (max-width:750px){

  .container{
    width: 85%;
    height: 550px;
  }
  .container h1{
    font-size: 35px;
  }
  .container button{
    margin-right: 100px;


  }
  .form{
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
    .left {
        display: none;
    }
    .left h2{
        display: flex;
        position: absolute;
        /* left: 100px; */
    }
    .right{
        width: 90%;
        
        background-image: url('./purple\ shade\ img.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .input-field p a{
        color: rgb(131, 177, 236) !important; 
    }
}

@media (min-width: 750px) and (max-width:1080px){
    .left{
        display: inline-block;
    }

}


/* home page responsive design  */


@media screen and (min-width: 250px) and (max-width:750px){

    header{
        height: 100px;
    }
    .logo{
        font-size: 40px;
    }
    .signout{
        display: none;
        width: 180px;

        font-size: 100%;
        font-weight: 700;
        border-width: 0px ;
    }
    .create-btn {
        width: 100%;
        font-size: 100%;
        font-weight: 700;
    }
    .blogPost{
        width: 100%;

    }
    .blogPost .blog-title{
        font-size: 30px;
        font-weight: bold;
    }
    .blogPost .blog-content{
        font-size: 100%;
        font-weight: 500;
    }
    .blogPost .blog-info{
        display: flex;
        flex-wrap: wrap;
    }
    .blogPost .author{
        font-size: 18px;
        font-weight: 500;
    }
    .blogPost .date{
        font-size: 18px;
        font-weight: 400;
    }
    .create-blog-box{
        width: 100%;
    }
}